{% extends 'layout.html' %}

{% block body %}
{% for item,prefference in zipper %}
<p>
    <h4>{{prefference}}</h4>
    </p>
<div class="row">
    <div class="card-deck col-md-8">
    {% for article in item %}
        <div class="card">
            <img class="card-img-top feed-img"
                 src="{% if article['urlToImage'] == None or article['urlToImage'] == '' %}{{url_for('static',filename='img/something-went-wrong.gif')}}{% else %}{{article['urlToImage']}}{% endif %}"
                                  alt="image failed to load">
                <div class="card-body">
                    <a href="/article/{{article['title']}}">
                        <h5 class="card-title">
                            {{article['title']}}
                        </h5>
                    </a>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}
