{% extends 'layout.html' %}

{% block body %}
<div class="container emp-profile">
    <div class="">
            <form onsubmit="return validateProfile();" method="POST" action="/profile">
                <div class="row">
                    <div class="col-md-10">
                        <div class="profile-head">
                                    <h3>
                                        {{ fname }} {{ lname }}
                                    </h3>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                       aria-controls="profile" aria-selected="false">Prefferences</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><input type="email" class="form-control" name="editEmail"
                                                          value="{{ email }}"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone no</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><input type="text" class="form-control" name="editContactNo"
                                                          value="{{ contactNo }}"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Modify Password</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><input type="password" class="form-control" name="editPassword" id="editPassword"
                                                          value="{{ password }}"></p>
                                            </div>
                                            <small id="passwordHelp1" class="form-text text-danger"><span
                                                    class="text-muted">The password must contain 8-20 characters with atleast one letter, one number and one alphanumeric.</span></small>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Country</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ country }}</p>
                                            </div>
                                        </div>
                                    </li>
                            </div>
                            </ul>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                {% for category in listofrecom %}
                                        <div class="row">
                                            <div class="col-8">
                                                <label>{{category}}</label>
                                            </div>
                                            <div class="col-4">
                                                <div class="checkbox checbox-switch switch-primary">
                                                    <label>
                                                        {% if category in listofpreff %}
                                                            <input type="checkbox" name="prefflist" value="{{category}}"
                                                               checked/>
                                                            <span></span>
                                                        {% else %}
                                                            <input type="checkbox" name="prefflist"
                                                                   value="{{category}}"/>
                                                            <span></span>
                                                        {% endif %}

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                {% endfor %}
                                <div class="row">
                                    <div class="col-2">
                                        <label>Add New Category: </label>
                                    </div>
                                    <div class="col-7">
                                        <input type="text" class="form-control" name="customCategory"
                                               placeholder="Your custom category">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>
{% endblock %}