<ul class="list-group d-flex flex-row align-items-centre">
    {% for article in item %}
        <div class="col-md-3">
        <li class="list-group-item d-flex flex-column align-items-center" style="max-width: 387px; max-height:300px;">
            <img class="align-middle img-thumbnail"
                 src="{% if article['urlToImage'] == None or article['urlToImage'] == '' %}{{url_for('static',filename='img/something-went-wrong.gif')}}{% else %}{{article['urlToImage']}}{% endif %}"
                                 style="max-width: 250px; max-height:200px;" alt="image failed to load">
                <div class="mt-1">
                    <a href="/article/{{article['title']}}">
                        <h5 class="">
                            {{article['title']}}
                        </h5>
                    </a>
                </div>
        </li>
            </div>
    {% endfor %}
    </ul>